/* Inicio CSS Vista Tienda */
.fondo-tienda-abc{
  background-image: url('/assets_f/src/img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: round;
  background-attachment: fixed;
  width: 100%;
}
.b-tienda img{
  margin-top: 40px;
  width: 40%;

}

.p-tienda{
  margin-top: 30px;
}
.p-tienda img{
  cursor:pointer;
}
.p-tienda h4{
  color: #464646;
  font-weight: bold;
  margin-top: 10px;
}
.c-tienda{
  margin-top: 50px;
  border-bottom: 2px #d7d7d7 solid;
  margin-bottom: 20px;
  padding: 5px;
}
.c-tienda img{
  margin-bottom: 50px;
  width: 100%;
}
.c-tienda h2{
  margin-top: 50px;
}
.c-tienda button{
  background-color: #0e9a9d;
  color: white;
  font-weight: bold;
}
.btn-vm{
  margin-top: 150px;
}
.c-tienda button:hover{
  color: #464646;
}
@media (max-width: 767px) {
  .c-tienda h2{
  margin-top: 0px;
  }
  .btn-vm{
  margin-top: 10px;
  }
  .c-tienda img{
  margin-bottom: 20px;
  margin-top: 0px;
  }
  .p-tienda img{
    margin-bottom: 20px;
  }
}
@media (max-width: 525px){
  .carousel img{
    height: 200px;
  }
  .p-tienda h4{
    font-size: 18px;
  margin-top: 10px;
  }
} 
@media (max-width: 385px){
  .p-tienda h4{
    font-size: 15px;
  margin-top: 10px;
  }
}  




















.b-qs{
	background-image: url('/assets_f/src/img/foto-portada.jpg');
	background-size: cover;
	width: 100%;
	height: 650px;
}
.b-qs h1{
	font-weight: bold;
	font-size: 60px;
	margin-top: 60px;
    color: #d21e61;
}
.f-obj{
	background-image: url('/assets_f/src/img/fondo.jpg');
	width: 100%;
	background-size: cover;
	height: 500px;
	background-attachment: fixed;
}
.f-obj h5{
    color: #464646;
}
.f-obj h2{
    font-weight: bold;
    color: #d21e61;
}
@media (max-width: 992px) {
	.row{
		text-align: center;
	}.f-obj{
	background-image: url('/assets_f/src/img/fondo.jpg');
	width: 100%;
	height: auto;
    }
}













.b-diferente{
  background-image: url('/assets_f/src/img/portada .jpg');
  background-size: cover;
	width: 100%;
	height: 630px;
}
.b-diferente h1{
	margin-top: 20px;
	color: #464646;
	font-size: 45px;
	font-weight: bold;
}
.b-diferente h5{
	color: #464646;
}
.b-diferente h3{
	color: #d21e61;
	font-weight: bold;
}
.desc-dif{
	background-image: url('/assets_f/src/img/fondo .jpg');
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
}
.desc-dif h1{
	margin-top: 20px;
	color: #0e9a9d;
	font-weight: bold;
}
.desc-dif h5{
	margin-top: 20px;
	color: #464646;
}
.desc-dif .row{
	padding-top: 5px;
	padding-bottom: 5px;
}
.desc-dif button{
	background-color: #0e9a9d;
	color: white;
	font-weight: bold;
	margin-top: 20px;
	text-align: center;
}
.descimg-dif{
	position: absolute;
	width: 100%;
	margin-top: -35px;
	margin-left: -20px;
}
@media (max-width: 767px) {
	.b-diferente{
		text-align: center;
	}
	.desc-dif{
		text-align: center;
	}
	.desc-dif button{
		margin-left: 0px;
    }
    .b-diferente{
	background-image: url('/assets_f/src/img/portada-tablet.jpg');
	width: 100%;
	background-size: cover;
	height: auto;
	background-attachment: fixed;
    }
}


/*galeria*/
.fondo-galeria-abc{
	background-image: url('../vistatienda/img/fondo .jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-repeat: round;
	background-attachment: fixed;
	width: 100%;
  }
  .fondo-galeria-abc img{
	width: 100%;
	margin: 25px 0px 25px 0px;
  }
  .fondo-galeria-abc img:hover{	
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   transition: 0.5s;
  
  }
  @media (max-width:525px)  {
	  #carousel-galeria img{
		  height: 180px;
	  }
	  .fondo-galeria-abc img{
			width: 80%;
			margin: 25px 0px 25px 0px;
			align-items: center;
	  }
  }
  