.CodeMirror {
  color: #f8f8f2;
  background: #1f1b1b;
  font-family: 'Inconsolata', mono, monospace;
  font-size: 14px;
  line-height: 130%;
}
.CodeMirror .CodeMirror-matchingtag {
  background: rgba(255,150,0,0.15);
}
.CodeMirror .CodeMirror-linenumber {
  color: #646464;
}
.CodeMirror .cm-tab:not(:first-of-type) {
  background: url("img/ig.png") left repeat-y;
  opacity: 0.1;
}
.CodeMirror .CodeMirror-activeline .CodeMirror-linenumber {
  background-color: #292523;
}
.CodeMirror .CodeMirror-activeline-background {
  background: none;
}
.CodeMirror .CodeMirror-foldgutter-open {
  color: #4f4f4f;
}
.CodeMirror .CodeMirror-foldgutter-folded {
  color: #4f4f4f;
}
.CodeMirror .CodeMirror-selected {
  background-color: #3d3d38;
}
.CodeMirror .CodeMirror-gutters {
  background-color: #1f1b1b;
  border-right: 0;
}
.CodeMirror .CodeMirror-cursor {
  border-left: 1px solid #fff;
}
.CodeMirror .cm-meta {
  color: #a6e22e;
}
.CodeMirror .cm-keyword {
  color: #f92673;
}
.CodeMirror .cm-atom {
  color: #ae81ff;
}
.CodeMirror .cm-number {
  color: #ae81ff;
}
.CodeMirror .cm-def {
  color: #f8f8f2;
}
.CodeMirror .cm-variable {
  color: #66d8ef;
}
.CodeMirror .cm-variable-2 {
  color: #fff;
}
.CodeMirror .cm-variable-3 {
  color: #fff;
}
.CodeMirror .cm-property {
  color: #f8f8f2;
}
.CodeMirror .cm-operator {
  color: #f8f8f2;
}
.CodeMirror .cm-comment {
  color: #75715e;
}
.CodeMirror .cm-string {
  color: #e6db74;
}
.CodeMirror .cm-string-2 {
  color: #e6db74;
}
.CodeMirror .cm-error {
  color: #f00;
}
.CodeMirror .cm-qualifier {
  color: #555;
}
.CodeMirror .cm-builtin {
  color: #fff;
}
.CodeMirror .cm-bracket {
  color: #f8f8f2;
}
.CodeMirror .CodeMirror-matchingbracket {
  color: #4f0;
  background-color: #32332b;
}
.CodeMirror .CodeMirror-nonmatchingbracket {
  color: #f00;
  background-color: #777;
}
.CodeMirror .cm-tag {
  /*color: #f92673;*/
  color: #999;
}
.CodeMirror .cm-attribute {
  color: #a6e22e;
}
.CodeMirror .cm-link {
  color: #219;
}
.CodeMirror .cm-matchhighlight {
  border-bottom: 1px dotted #fff;
}
.CodeMirror .cm-searchhighlight {
  border-bottom: 1px dotted #fff;
}
.CodeMirror .cm-searching {
  background: transparent;
  border-bottom: 1px solid #ffe792;
}
.CodeMirror .CodeMirror-foldmarker {
  color: #fff;
  text-shadow: none;
}
.revision-panel .expaned .revisionDiff .CodeMirror-merge-gap .CodeMirror-merge-r-connect {
  fill: #534b4b;
}
.region-center .CodeMirror.mode-css .cm-property {
  color: #48beef;
}
.region-center .CodeMirror.mode-css .cm-builtin {
  color: #a6e22e;
}
.region-center .CodeMirror.mode-css .cm-qualifier {
  color: #a6e22e;
}
.region-center .CodeMirror.mode-css .cm-variable,
.region-center .CodeMirror.mode-css .cm-variable-2,
.region-center .CodeMirror.mode-css .cm-variable-3,
.region-center .CodeMirror.mode-css .cm-string,
.region-center .CodeMirror.mode-css .cm-string-2 {
  color: #e6db74;
}
.cm-s-default .cm-header {
  color: #6363ff;
}
